label {
    width: 100%;
}


a.maisvidaeditar:after  {
    content: ' \270E';
}

a.maisvidaexcluir:after {
	content: ' \274C';
	curpor:pointer;
}

table.maisvidatable thead tr th:nth-of-type(5),
table.maisvidatable thead tr th:nth-of-type(6),
table.maisvidatable thead tr th:nth-of-type(7),
table.maisvidatable thead tr th:nth-of-type(8),
table.maisvidatable tbody tr td:nth-of-type(5),
table.maisvidatable tbody tr td:nth-of-type(6),
table.maisvidatable tbody tr td:nth-of-type(7),
table.maisvidatable tbody tr td:nth-of-type(8)  {
	text-align: center;
}

.status > input {
	width: 20px;
	margin-top: 8px;
	float: left;
}

.s2:before {
    content: ' \2764';
}

@media only screen and (max-width: 990px) {
    .maisvidaview {
        overflow-x: scroll;
    }
}