label {
    width: 100%;
}


a.maisvidaeditar:after  {
    content: ' \270E';
}

a.maisvidaexcluir:after {
	content: ' \274C';
	curpor:pointer;
}

.status > input {
	width: 20px;
	margin-top: 8px;
	float: left;
}

.s2:before {
    content: ' \2764';
}

@media only screen and (max-width: 800px) {
    .maisvidaview {
        overflow-x: scroll;
    }
}